.bg-company-red {
    background-color: rgb(20, 40, 86);
  }
  body { font-family: "Comic Sans MS"; }
  .titulo{
    color: white;
  }
  .fa{
    color: white;
  }
  /*Modals*/
  div.mdlcabeza{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  div.mdlentrada{
    margin-left:15px;
    margin-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  div.mdlbotones{
    margin-left: 15px;
    margin-right: 15px;
  }
  div.mdlavatar {
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 20px;
    width: 50%;
  }
  div.mdlavatar img {
    width: 100%;
    border-radius: 50%; 
  }
  
  .descripcion{
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .imagen_tb {
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 0px;
    width: 50%;
    width: 72%; 
    height: auto;
  }
  
  .item {
    position: relative;
    /* width: 220px; */
    overflow: hidden;
    /* border: 1px solid #ccc; */
  }
  .item {
    height: 240px;
  }
    
  .item a {
    text-decoration: none;
    color: #000;
  }
  
  .item-billboard, .item-detail {
    padding: 10px;
    height: 240px;
  }
  
  .item-billboard {
    margin-top: 0;
    background: #fff;
  }
  .item-billboard h3 {
      font-size: 13px;
      font-weight: bold;
      color: #262626;
      font-family: 'Open Sans',arial,sans-serif;
      text-align:right;
      color:blue;
      margin-top:10px;
  }
  
  .item-detail {
    height:240px;
    background: #ececec;
    font-family:verdana;
  }

  .flex-user{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div_fieldset{
    //background-color: rgb(9, 48, 138);
    background-color: rgb(20, 77, 211);
    color: white;
  }

  .legend_title{
    display: block;
    width: auto;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    text-align: end;
  }

  .footer-last{
    bottom: 0%;
  }